## Deliverable 2. Create a Customer Travel Destinations Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [25]:
# 1. Import the WeatherPy_Database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,69.66,73,75,6.91,broken clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,37.51,81,20,23.02,few clouds
2,2,Souillac,MU,-20.5167,57.5167,70.18,73,20,8.05,few clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,29.86,100,100,2.30,snow
4,4,Guerrero Negro,MX,27.9769,-114.0611,73.38,51,0,19.10,clear sky

In [15]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Saint George,US,37.1041,-113.5841,81.95,7,0,19.57,clear sky
19,19,Faanui,PF,-16.4833,-151.7500,79.47,75,30,22.17,light rain
27,27,Port-Gentil,GA,-0.7193,8.7815,75.16,88,75,10.36,broken clouds
32,32,Saint-Francois,FR,46.4154,3.9054,82.67,34,0,11.50,clear sky
33,33,The Valley,AI,18.2170,-63.0578,85.86,70,40,16.11,scattered clouds
37,37,Hilo,US,19.7297,-155.0900,85.28,71,6,5.99,clear sky
41,41,Vaini,TO,-21.2000,-175.2000,77.16,88,75,9.22,broken clouds
43,43,Hamilton,US,39.1834,-84.5333,79.81,32,0,4.61,clear sky
50,50,Victoria,HK,22.2855,114.1577,84.38,87,100,15.99,overcast clouds
51,51,Avarua,CK,-21.2078,-159.7750,78.85,69,40,14.97,scattered clouds

In [26]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [27]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
print(len(clean_df))
clean_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Saint George,US,37.1041,-113.5841,81.95,7,0,19.57,clear sky
19,19,Faanui,PF,-16.4833,-151.7500,79.47,75,30,22.17,light rain
27,27,Port-Gentil,GA,-0.7193,8.7815,75.16,88,75,10.36,broken clouds
32,32,Saint-Francois,FR,46.4154,3.9054,82.67,34,0,11.50,clear sky
33,33,The Valley,AI,18.2170,-63.0578,85.86,70,40,16.11,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
680,680,Domoni,KM,-12.2569,44.5319,75.67,83,15,7.58,few clouds
681,681,Whitewater,US,42.8336,-88.7323,82.27,55,49,9.93,scattered clouds
685,685,Ormara,PK,25.2088,64.6357,82.90,84,93,20.80,overcast clouds
686,686,Macherla,IN,16.4833,79.4333,86.99,63,100,3.36,overcast clouds
687,687,Koungou,YT,-12.7336,45.2042,76.71,83,0,4.61,clear sky

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Saint George,US,81.95,clear sky,37.1041,-113.5841,
19,Faanui,PF,79.47,light rain,-16.4833,-151.7500,
27,Port-Gentil,GA,75.16,broken clouds,-0.7193,8.7815,
32,Saint-Francois,FR,82.67,clear sky,46.4154,3.9054,
33,The Valley,AI,85.86,scattered clouds,18.2170,-63.0578,
37,Hilo,US,85.28,clear sky,19.7297,-155.0900,
41,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,
43,Hamilton,US,79.81,clear sky,39.1834,-84.5333,
50,Victoria,HK,84.38,overcast clouds,22.2855,114.1577,
51,Avarua,CK,78.85,scattered clouds,-21.2078,-159.7750,

In [28]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
   # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Saint George,US,81.95,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
19,Faanui,PF,79.47,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
27,Port-Gentil,GA,75.16,broken clouds,-0.7193,8.7815,Fengshui Residence
32,Saint-Francois,FR,82.67,clear sky,46.4154,3.9054,Manoir Du Bonheur
33,The Valley,AI,85.86,scattered clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort

In [35]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Saint George,US,81.95,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
19,Faanui,PF,79.47,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
27,Port-Gentil,GA,75.16,broken clouds,-0.7193,8.7815,Fengshui Residence
32,Saint-Francois,FR,82.67,clear sky,46.4154,3.9054,Manoir Du Bonheur
33,The Valley,AI,85.86,scattered clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
37,Hilo,US,85.28,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
41,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
43,Hamilton,US,79.81,clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
50,Victoria,HK,84.38,overcast clouds,22.2855,114.1577,Mini Central
51,Avarua,CK,78.85,scattered clouds,-21.2078,-159.7750,Paradise Inn

In [36]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [33]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))